Options -Indexes

<FilesMatch "^(?:bootstrap|config(?:\..*)?)\.php$">
    Require all denied
</FilesMatch>

<FilesMatch "^\.">
    Require all denied
</FilesMatch>

RewriteEngine On
RewriteRule ^lib(?:/|$) - [F,L,NC]
